/* Sticky footer styles
http://getbootstrap.com/examples/sticky-footer/sticky-footer.css
-------------------------------------------------- */
#gd-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  padding-bottom: 20px; 
}

body {
  padding-top: 50px;
  margin-bottom: 120px;
}

.gd-logo {
  height: 38px;
  width: 38px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 8px;
}

.gd-navbar {
  margin-bottom: 10px; 
}

.gd-navbar .navbar .nav > li.dropdown.open.active > a:hover,

.gd-navbar .navbar .nav.pull-right {margin-left: 10px; margin-right: 0;}

.gd-navbar .navbar .nav.pull-left {margin-right: 5px; margin-right: 0;}

.gd-navbar .navbar { min-height:40px;} 

.gd-navbar .navbar .navbar-brand { 
  float: none; 
  font-size: 18px;
  margin-top: 3px;
}

.gd-navbar .navbar .navbar-nav > li > a {  
  padding-top: 12px; 
  padding-bottom: 12px; 
  line-height: 20px;
}

.gd-sidebar {
  width: 180px;
  float: left;
}

.gd-sidebar-analyze-buttons {
  width: 180px;
}

.gd-sidebar-analyze-buttons > .bootstrap-select.btn-group {
  margin-bottom: 0px;
  border-bottom: 0px;
}
.gd-sidebar-analyze-buttons > .bootstrap-select.btn-group > .btn {  
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #555555;
  font-weight: 200;
}

.gd-sidebar-analyze-buttons.btn-group-vertical > .bootstrap-select.btn-group:nth-child(2)  > .btn {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.gd-main-content { 
    margin-left: 180px;
}

.gd-data-analyze-group {
  padding-bottom: 10px;
}

.gd-caret-align {
  margin-top: 6px;
}

.gd-header {
  margin-top: 0px;
  /*border-bottom: 1px solid #dddddd;*/
  margin-bottom: 8px;
}

.gd-header > h1 {
  margin-top: 0px;
  margin-bottom: 6px;
}

.gd-error-text {
  color: red;
  font-weight: bold;
}

.gd-home-project-name {
  font-size: 20px;
}

input.gd-form-tall {
  height: 40px;
  margin: 5px 0 5px 0;
}

.gd-variant-set-view-dropdown {
  margin-bottom: 20px;
}

.gd-analyze-subview-controls-hook {
  border: 1px dotted black;
  margin-bottom: 10px;
  padding: 10px 0 10px 10px;
}


/* nav-pills bottom margin for the inside of modals */
.modal-body > .nav {
  margin-bottom: 10px;
}

/* GD Checkboxes for Datatables, checkbox td changes color */

td.gd-dt-cb-div {
    cursor: default;
    display: block;
    float: left;
    margin-bottom: 0px;
    margin-left: -1px;
    margin-bottom: -1px;
    margin-right: 0px;
    margin-top: 0px;
    min-width: 16px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 4px;
    padding-top: 4px;
    position: relative;
    text-align: center;
}

.table > tbody > tr > td.gd-dt-cb-div.active  {
    background-color: rgba(67, 161, 16, 0.5);
    border-right-width: 1px;
    border-bottom-width: 1px;
    /*border-bottom-color: rgb(70, 165, 70);*/
    /*border-left-color: rgb(70, 165, 70);*/
    /*border-right-color: rgb(70, 165, 70);*/
    /*border-top-color: rgb(70, 165, 70);*/
}

/* Less table padding when within panel*/
th.gd-dt-cb-div {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* fix tr.odd row coloring */
table.dataTable tr.odd {
  background-color: #f9f9f9
}

table.dataTable > tbody > tr > td {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* fix DataTables extra vertical space above */
.dataTables_wrapper {
  clear: none;
}

.dataTables_wrapper > div.panel > div.panel-body {
  padding-bottom: 0px;
} 

.gd-new-button {
  padding-left: 0px;
}

.gd-table-controls > div {
  vertical-align: middle;
  display: inline-block;
  float:none;  
  padding-left: 5px;
  padding-right: 5px;
}

/* We don't want to pad this specific component on the dataTable*/
#gd-snp-filter-component {
  vertical-align: middle;
  display: inline;
  float:none;  
  padding-left: 0px;
  padding-right: 0px;
}

.gd-table-controls > div:nth-of-type(1) {
  padding-left: 0px;
}

.gd-table-controls > div:last-of-type {
  padding-right: 0px;
}

.gd-table-controls > div > label {
  margin-bottom: 0px;
}

.gd-table-controls:after {
  clear: none;
}

.ColVis {
  margin-bottom: 0px;
}

table.dataTable thead > tr > th {
  padding-left: 8px;
}

