/* Sticky footer styles
http://getbootstrap.com/examples/sticky-footer/sticky-footer.css
-------------------------------------------------- */
/* old broken absolute bottom footer

#gd-footer {
  position: absolute;
  bottom: 0;
  height: 120px;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  padding-bottom: 20px;
}*/

/* new splash-only footer */
.gd-footer {
  text-align: center;
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
}

.gd-splash-panel {
  min-width: 420px;
}

body {
  padding-top: 50px;
}

.gd-logo {
  height: 38px;
  margin-bottom: 5px;
  margin-right: 8px;
}

.gd-navbar {
  margin-bottom: 10px;
}

.gd-navbar-new-project-text:hover {
  color: white;
}

.gd-navbar .navbar .nav > li.dropdown.open.active > a:hover,

.gd-navbar .navbar .nav.pull-right {margin-left: 10px; margin-right: 0;}

.gd-navbar .navbar .nav.pull-left {margin-right: 5px; margin-right: 0;}

.gd-navbar .navbar { min-height:40px;}

.gd-navbar .navbar .navbar-brand {
  font-size: 18px;
  margin-top: 3px;
}

.gd-navbar .navbar .navbar-nav > li > a {
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 20px;
}

.gd-navbar-brand {
  padding-top: 0px;
}

/* splash page styles */
.gd-splash-jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  max-width: 730px;
}
.gd-splash-jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.gd-page-container {
  /* 30px, to make up for the -15 on .row */
  margin-right: 15px;
  margin-left: 30px;
}

.gd-page-container > .row > h1 {
  margin-top: 5px;
}
.gd-sidebar {
  max-width: 200px;
  padding-left: 0px;
}

.gd-sidebar-analyze-buttons {
  width: 100%;
}

.gd-sidebar-analyze-buttons > .bootstrap-select.btn-group {
  margin-bottom: 0px;
  border-bottom: 0px;
}
.gd-sidebar-analyze-buttons > .bootstrap-select.btn-group > .btn {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #555555;
  font-weight: 200;
}

.gd-data-analyze-group {
  padding-bottom: 10px;
}

.gd-caret-align {
  margin-top: 6px;
}

.gd-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gd-header {
  margin-top: 0px;
  /*border-bottom: 1px solid #dddddd;*/
  margin-bottom: 8px;
}

.gd-header.page-header {
  margin-top: 0px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 8px;
}

.gd-header > h1 {
  margin-top: 0px;
  margin-bottom: 6px;
}

.gd-error-text {
  color: red;
  font-weight: bold;
}

.gd-home-project-name {
  font-size: 20px;
}

input.gd-form-tall {
  height: 40px;
  margin: 5px 0 5px 0;
}

.gd-variant-set-view-dropdown {
  margin-bottom: 20px;
}

.gd-main-content,
.gd-main-content > .container-fluid {
  padding-left: 0px;
}

/* TODO: make this stretch properly - doesn't seem easy;*/
#gd-new-filter-input {
  width: 300px;
}

/* nav-pills bottom margin for the inside of modals */
.modal-body > .nav {
  margin-bottom: 10px;
}

.gd-master-cb-button {
  height: 40px;
}

.gd-controls-auxiliary-button {
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
    margin-left: 6px;
    color: #ffffff;
    background-color: #666699;
    border-color: #666699;
}

.gd-controls-auxiliary-button:hover,
.gd-controls-auxiliary-button:focus,
.gd-controls-auxiliary-button.active {
  background-color: #52527a;
}

/* is this a bootstrap 3 bug?
 * adjacent btn-groups don't get the margin in-between
 * inside a btn-toolbar as expected, because of
 * a css priority in bootstrap.css.
 * this should fix.
 */
 .btn-toolbar > .btn-group {
  margin-left: 5px !important;
 }

/* GD Checkboxes for Datatables, checkbox td changes color */

td.gd-dt-cb-div {
    cursor: default;
    display: block;
    float: left;
    margin-bottom: 0px;
    margin-right: -1px;
    margin-bottom: -1px;
    margin-left: 0px;
    margin-top: 0px;
    min-width: 16px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 4px;
    padding-top: 4px;
    position: relative;
    text-align: center;
    border-bottom: 0px;
}

.table > tbody > tr > td.gd-dt-cb-div.active  {
    background-color: rgba(67, 161, 16, 0.5);
    border-right-width: 1px;
    border-bottom-width: 1px;
    /*border-bottom-color: rgb(70, 165, 70);*/
    /*border-left-color: rgb(70, 165, 70);*/
    /*border-right-color: rgb(70, 165, 70);*/
    /*border-top-color: rgb(70, 165, 70);*/
}

/* Less table padding when within panel*/
th.gd-dt-cb-div {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* fix tr.odd row coloring */
table.dataTable tr.odd {
  background-color: #f9f9f9
}

table.dataTable > tbody > tr > td {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* fix DataTables extra vertical space above */
.dataTables_wrapper {
  clear: none;
}

.dataTables_wrapper > div.panel > div.panel-body {
  padding-bottom: 0px;
}

.dataTables_wrapper > div.panel > div.panel-body {
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.gd-datatable-top-container > div {
  vertical-align: middle;
  display: inline-block;
  float:none;
  padding-left: 5px;
  padding-right: 5px;
}

.dataTables_length > label {
  margin-bottom: 0px;
}

.gd-table-controls > div:nth-of-type(1) {
  padding-left: 0px;
}

.gd-table-controls > div:last-of-type {
  padding-right: 0px;
}

.gd-table-controls > div > label {
  margin-bottom: 0px;
}

.gd-dt-cb.master {
  margin-right: 5px;
}

.gd-table-controls:after {
  clear: none;
}

.ColVis {
  margin-bottom: 0px;
}

table.dataTable thead > tr > th {
  padding-left: 8px;
}

div.dataTables_info {
  padding-top: 12px; /* to make text line up with arrows on pagination */
  margin-right: 10px;
}

table.dataTable thead th.gd-dt-cb-div {
  background-position: center;
  background-image: none;
}

div.dataTables_paginate ul.pagination {
  margin: 0px;
}

/* Apparently dropdown-submenus (nested dropdown) were removed in Bootstrap3.
 * Make them work again.
 */

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/* Variant Set Labels*/

.gd-variant-set-badge {
  display: inline-block;
  min-width: 10px;
  max-width: 100px;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #43a110;
  border-radius: 11px;
}

.gd-variant-set-badge:hover {
  text-decoration: none;
  color: #ffffff;
}

.gd-variant-set-badge.outline:hover {
  color: #43a110;
}

.gd-variant-set-badge.outline {
  color: #43a110;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  padding: 2px 6px;
  min-width: 8px;
  border: solid 1px #43a110;
  background-color: #ffffff;
}

.gd-variant-set-badge:hover {
  text-decoration: none;
  color: #ffffff;
}

.gd-warn-set-badge {
  display: inline-block;
  min-width: 10px;
  padding: 2px 2px;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #43a110;
  border-radius: 8px;
}

.gd-warn-set-badge.outline {
  color: #d9831f;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  padding: 2px 4px;
  min-width: 8px;
  border: solid 1px #d9831f;
  background-color: #ffffff;
}

.gd-demo-splash-modal-footer {
  margin-top: 5px;
}

.gd-demo-splash-ok-button {
  margin-top: 20px;
}

.gd-master-cb-select-more-than-one {
  display: none;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 5px;
}

.gd-samples-upload-through-browser-modal-targets-upload {
  margin-bottom: 10px;
  margin-top: 10px;
}

.gd-samples-upload-through-browser-modal-targets-progress {
  margin-bottom: 10px;
  margin-top: 10px;
}

.gd-samples-upload-through-browser-modal-error {
  color: red;
}

.gd-samples-upload-through-browser-modal-template-error {
  color: red;
}

/*Bootstrap disabled buttons gray text looks bad.*/
.btn.disabled {
  color: white;
}

.gd-ag-status-text {
  font-weight: bold;
  margin-left: 10px;
}

#gd-filter-key-modal .modal-content{
  height: 92vh;
  overflow: auto;
}

.gd-arrow-down {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid purple;
  height: 0;
  width: 0;
}

.gd-snp-filter-arrow-container {
  cursor: pointer;
  display: inline-block;
  margin-left: -25px;
  margin-right: 10px;
}

.gd-snp-filter-advanced-dropdown-box {
  background: white;
  border: solid 1px #dddddd;
  display: none;
  max-height: 300px;
  overflow-y: scroll;
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.gd-snp-filter-advanced-dropdown-box-close-btn {
  float: right;
}

.gd-snp-filter-advanced-saved-filter-container:hover {
  background-color: yellow;
  cursor: pointer;
}

.gd-filter-key-modal-key {
  display: inline-block;
  font-weight: bold;
}

.gd-filter-key-modal-checkbox {
  display: inline-block;
  margin-right: 10px;
}

.gd-filter-key-modal-desc {
  margin-bottom: 5px;
}

.gd-alignment-create-new-project-text {
  background-color: yellow;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Side notes for calling out things
-------------------------------
https://gist.github.com/matthiasg/6153853
From the bootstrap documentation.
------------------------------- */
/* Base styles (regardless of theme) */
/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
margin: 20px 0;
padding: 15px 30px 15px 15px;
border-left: 5px solid #eee;
}

.bs-callout h1,
.bs-callout h2,
.bs-callout h3,
.bs-callout h4,
.bs-callout h5,
.bs-callout h6 {
margin-top: 0;
}

.bs-callout-danger h1,
.bs-callout-danger h2,
.bs-callout-danger h3,
.bs-callout-danger h4,
.bs-callout-danger h5,
.bs-callout-danger h6 {
color: #B94A48;
}

.bs-callout-warning h1,
.bs-callout-warning h2,
.bs-callout-warning h3,
.bs-callout-warning h4,
.bs-callout-warning h5,
.bs-callout-warning h6 {
color: #C09853;
}

.bs-callout-info h1,
.bs-callout-info h2,
.bs-callout-info h3,
.bs-callout-info h4,
.bs-callout-info h5,
.bs-callout-info h6 {
color: #3A87AD;
}

.bs-callout-success h1,
.bs-callout-success h2,
.bs-callout-success h3,
.bs-callout-success h4,
.bs-callout-success h5,
.bs-callout-success h6 {
color: #3C763D;
}

.bs-callout p:last-child {
margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
background-color: #fcf2f2;
border-color: #dFb5b4;
}
.bs-callout-warning {
background-color: #fefbed;
border-color: #f1e7bc;
}
.bs-callout-info {
background-color: #f0f7fd;
border-color: #d0e3f0;
}
.bs-callout-success {
background-color: #dff0d8;
border-color: #d6e9c6;
}
