*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Data from development
*.db
temp_data/
temp_test_data/

# Third-party tools
tools/

# Textmate project file
*.tmproj

# Local settings overrides
genome_designer/conf/local_settings.py
genome_designer/conf/secret_key.py

# SnpEff Temp Data
# TODO(dbg): Tests should clean these up.
genome_designer/snpEff_genes.txt
genome_designer/snpEff_summary.html

# IDE config files
*.sublime-project
*.sublime-workspace

# Virtualenv
venv

.DS_Store

# Ignore compiled javascripts.
celery_manager/celery_manager/static/COMPILED/

# Ignore logs.
*.log

# Development Environment
pyenvs/
