Django==1.5.1
PyVCF==0.6.4
amqp==1.0.12
anyjson==0.3.3
argparse==1.2.1
beautifulsoup4==4.2.0
billiard==2.7.3.31
biopython==1.62b
boto==2.15.0
celery==3.0.21
distribute==0.7.3
django-celery==3.0.17
django-nose==1.2
django-registration==1.0
ipython==0.13.2
-e git://github.com/Polyconseil/django-jsonfield.git@e59d3b37b9482f54644f870edf64745e7faf11de#egg=jsonfield-dev
kombu==2.5.12
nose==1.3.0
psycopg2==2.5.1
python-dateutil==2.1
pytz==2013b
six==1.3.0
sympy==0.7.3
wsgiref==0.1.2
South==0.8.4
