Django==1.5.1
PyVCF==0.6.4
South==0.8.4
amqp==1.0.12
anyjson==0.3.3
argparse==1.2.1
bcbio-gff==0.4
beautifulsoup4==4.2.0
billiard==2.7.3.31
biopython==1.62b
boto==2.15.0
celery==3.0.21
distribute==0.7.3
django-celery==3.0.17
-e git+ssh://git@github.com/churchlab/django-celery-testworker.git@06875fe4b861550764005b8abdfdf32698e660e1#egg=django_celery_testworker-dev
django-nose==1.2
django-registration==1.0
ipython==0.13.2
kombu==2.5.12
nose==1.3.0
-e git+ssh://git@github.com/churchlab/optmage.git@b6b44d2e968a7f176f334f411f07caa9f0c6937e#egg=optmage-dev
psycopg2==2.5.1
pyinterval==1.0b21
python-dateutil==2.1
pytz==2013b
six==1.3.0
sympy==0.7.3
wsgiref==0.1.2
