{% extends "base.html" %}

{% block content%}
<div class="page-header">
  <h1>Alignments</h1>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ref Genome</th>
      <th>Sample</th>
      <th>Start Time</th>
      <th>Finish Time</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in alignment_list %}
      <tr>
        <td>{{obj.label}}</td>
        <td>{{obj.reference_genome.label}}</td>
        <td>{{obj.sample_desc}}</td>
        <td>{{obj.start_time}}</td>
        <td>{{obj.end_time}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
  VIEW_TAG = 'ALIGNMENT';
</script>
{% endblock %}
