{% extends "tab_base.html" %}

{% block content %}
<div class="gd-header h1">
  Create Alignment
</div>
{% if is_new_project %}
  <div class="bs-callout bs-callout-success">
    <h4>Welcome to Millstone.</h4>
    Kick off your project by running an alignment. Follow the steps below to upload a reference genome (e.g. fasta or Genbank) and samples (raw fastq sequencing data). Finally, start the alignment, which will map reads and call variants relative to the reference genome.
  </div>
{% endif %}
<div class="panel panel-default">
  <div class="panel-body">
    <ul id="createAlignmentTabs" class="nav nav-pills">
      <li class="active"><a href="#alignCreateTab_name" data-toggle="tab">
        1. Name</a></li>
      <li><a href="#alignCreateTab_ref_genome" data-toggle="tab">2. Reference Genome</a></li>
      <li><a href="#alignCreateTab_samples" data-toggle="tab">3. Samples</a></li>
      <li><a href="#alignCreateTab_options" data-toggle="tab">4. Alignment Options</a></li>
      <li><a href="#alignCreateTab_submit" data-toggle="tab">5. Submit</a></li>
    </ul>
  </div>
</div>
<div id="alignCreateTabs" class="tab-content">
  <!-- name -->
  <div class="tab-pane fade in active" id="alignCreateTab_name">
    <h3>1. Choose a name</h3>
    <p class="lead">A brief and informative name for the alignment.</p>
    <div class="panel panel-default">
      <div class="panel-body">
        <input id="gd-alignment-create-name-input" class="form-control" type="text" name="alignment-name" placeholder="Name...">
      </div>
    </div>
  </div>
  <!-- genome -->
  <div class="tab-pane fade in" id="alignCreateTab_ref_genome">
    <div id="gd-datatable-ref_genome-hook">
      <h3>2. Choose Reference Genome</h3>
      <p class="lead">Select a genome sequence to which the reads will be aligned.</p>
    </div>
  </div>
  <!-- samples -->
  <div class="tab-pane fade in" id="alignCreateTab_samples">
    <h3>3. Choose Samples</h3>
    <p class="lead">Select one or more samples whose FASTQ reads will be aligned. Variants for these samples will be called together in one VCF file.</p>
    <div id="gd-datatable-samples-hook">
    </div>
  </div>
  <!-- options -->
  <div class="tab-pane fade in" id="alignCreateTab_options">
    <h3>4. Choose Alignment Options</h3>
    <p class="lead">Select aligner to use and set the aligner's options.</p>
    <div class="panel panel-default">
      <div class="panel-heading">Ambiguous Single Nucleotide Variants</div>
      <div class="panel-body">
        <div class="radio">
          <label>
            <input type="radio" name="alignment_options" id="gd-alignment-options-keep-all" value="" checked>
            Keep all variants, including ambiguous (het) calls
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="alignment_options" id="gd-alignment-options-skip-het-only" value="skip_het_only">
            Discard variants with only ambiguous (het) calls
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="alignment_options" id="gd-alignment-options-call-as-haploid" value="call_as_haploid">
            Call variants as haploid (no ambiguous calls)
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- submit -->
  <div class="tab-pane fade in" id="alignCreateTab_submit">
    <div id="gd-align-create-submit-error" class="alert alert-danger alert-dismissable" style="display:none">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>Error</h4>
      <span id="gd-align-create-submit-error-msg"></span>
    </div>
    <h3>5. Run Alignment</h3>
    <p class="lead">The alignment will run in the background and will show as READY when completed.</p>
    <div class="text-center">
      <button class="btn btn-success btn-lg" id="gd-align-create-submit-btn">
        Run Alignment
      </button>
    </div>
  </div>
</div>

<script type="text/javascript">
  VIEW_TAG = 'ALIGNMENT_CREATE';

  {% autoescape off %}
      INIT_JS_DATA = {{init_js_data}};
  {% endautoescape %}
</script>
{% endblock %}
