<html>
<head>
  <title>Genome Designer</title>

  {% load staticfiles %}

  <!-- css - Third party -->
  <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css" />

  <!-- JavaScript - Third-party  -->
  <script type="text/javascript" src="{% static "vendor/js/jquery-1.10.2.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/bootstrap/js/bootstrap.js" %}"></script>
</head>
<body>
  {% include "top_nav_bar.html" %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        {% include "side_nav_bar.html" %}
      </div><!--/.span3 -->
      <div class="span9">
        {% block content%}{% endblock %}
      </div> <!--/.span9 -->
    </div> <!--/.row-fluid -->
  </div><!--/.container-fluid -->
  <script type="text/javascript" src="{% static "js/temp_inline.js" %}"></script>
</body>
</html>
