<!DOCTYPE html> <!-- required for bootstrap to work right. -->
<html>
<head>
  <title>Millstone</title>

  {% load staticfiles %}

  <!-- css - Third party -->
  <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "vendor/DataTables-1.9.4/media/css/jquery.dataTables.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "vendor/DataTables-1.9.4/extras/ColVis/media/css/ColVis.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "vendor/fineuploader/fineuploader-4.0.1.min.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "vendor/bootstrap-select/bootstrap-select.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "vendor/DataTables-1.9.4/media/datatables.bootstrap/datatables.bootstrap.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "vendor/jquery_file_upload/css/jquery.fileupload.css" %}" type="text/css">

  <!-- css - Local -->
  <link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css" />

  <!-- JavaScript - Third-party  -->
  <script type="text/javascript" src="{% static "vendor/js/jquery-1.10.2.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/js/underscore.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/js/json2.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/js/backbone.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/bootstrap/js/bootstrap.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/js/bootstrap.file-input.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/DataTables-1.9.4/media/js/jquery.dataTables.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/DataTables-1.9.4/extras/ColVis/media/js/ColVis.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/fineuploader/all.fineuploader-4.0.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/bootstrap-select/bootstrap-select.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/DataTables-1.9.4/media/datatables.bootstrap/datatables.bootstrap.js" %}"></script>
  <script type="text/javascript" src="{% static "vendor/js/spin.js" %}"></script>

  <!-- JavaScript - jQuery Fileupload plugin and related -->
  <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
  <script type="text/javascript" src="{% static "vendor/jquery_file_upload/js/jquery.iframe-transport.js" %}"></script>
  <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
  <script type="text/javascript" src="{% static "vendor/jquery_file_upload/js/vendor/jquery.ui.widget.js" %}"></script>
  <!-- The basic File Upload plugin -->
  <script type="text/javascript" src="{% static "vendor/jquery_file_upload/js/jquery.fileupload.js" %}"></script>
  <!-- The File Upload processing plugin -->
  <script type="text/javascript" src="{% static "vendor/jquery_file_upload/js/jquery.fileupload-process.js" %}"></script>
  <!-- The File Upload validation plugin -->
  <script type="text/javascript" src="{% static "vendor/jquery_file_upload/js/jquery.fileupload-validate.js" %}"></script>

  <!-- JavaScript - Local -->
  <script type="text/javascript" src="{% static "js/global_error_catcher.js" %}"></script>
  <script type="text/javascript" src="{% static "js/namespace.js" %}"></script>
  <script type="text/javascript" src="{% static "js/spinner.js" %}"></script>
  <script type="text/javascript" src="{% static "js/util.js" %}"></script>
  <script type="text/javascript" src="{% static "js/nav.js" %}"></script>
  <script type="text/javascript" src="{% static "js/csrf.js" %}"></script>
  <script type="text/javascript" src="{% static "js/demo_mode_mods.js" %}"></script>
  <script type="text/javascript" src="{% static "js/abstract_datatable_component.js" %}"></script>
  <script type="text/javascript" src="{% static "js/datatable_controls_component.js" %}"></script>
  <script type="text/javascript" src="{% static "js/datatable_component.js" %}"></script>
  <script type="text/javascript" src="{% static "js/server_side_datatable_component.js" %}"></script>
  <script type="text/javascript" src="{% static "js/ref_genome_list_controls_component.js" %}"></script>
  <script type="text/javascript" src="{% static "js/upload_single_sample_modal.js" %}"></script>
  <script type="text/javascript" src="{% static "js/sample_upload_through_browser_modal.js" %}"></script>
  <script type="text/javascript" src="{% static "js/print_mage_oligos_modal.js" %}"></script>
  <script type="text/javascript" src="{% static "js/ref_genome_maker_modal.js" %}"></script>
  <script type="text/javascript" src="{% static "js/sample_list_controls_component.js" %}"></script>
  <script type="text/javascript" src="{% static "js/alignment_list_controls_component.js" %}"></script>
  <script type="text/javascript" src="{% static "js/variant_set_list_controls_component.js" %}"></script>
  <script type="text/javascript" src="{% static "js/variant_field_select_component.js" %}"></script>
  <script type="text/javascript" src="{% static "js/variants_table_component.js" %}"></script>
  <script type="text/javascript" src="{% static "js/contig_list_controls_component.js" %}"></script>

  <script type="text/javascript" src="{% static "js/analyze/tab_analyze_router.js" %}"></script>
  <script type="text/javascript" src="{% static "js/analyze/tab_analyze_subview_abstract_base.js" %}"></script>
  <script type="text/javascript" src="{% static "js/analyze/tab_analyze_subview_genes.js" %}"></script>
  <script type="text/javascript" src="{% static "js/analyze/tab_analyze_subview_sets.js" %}"></script>
  <script type="text/javascript" src="{% static "js/analyze/tab_analyze_subview_variants.js" %}"></script>
  <script type="text/javascript" src="{% static "js/analyze/tab_analyze_subview_contigs.js" %}"></script>
  <script type="text/javascript" src="{% static "js/analyze/tab_analyze_router.js" %}"></script>
  <script type="text/javascript" src="{% static "js/analyze/tab_analyze_base.js" %}"></script>

  <script type="text/javascript" src="{% static "js/project_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/ref_genome_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/ref_genome_list_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/sample_list_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/alignment_list_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/alignment_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/alignment_create_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/variant_set_list_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/variant_set_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/gene_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/contig_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/goterm_view.js" %}"></script>
  <script type="text/javascript" src="{% static "js/app.js" %}"></script>

  <link rel="shortcut icon"
        type="image/png"
        href="{% static "img/logo2.png" %}">

</head>
<body>
  <!-- NavBar
================================================== -->
  {% include "top_nav_bar.html" %}

  <!-- Main
================================================== -->

  <div id="gd-page-container" class="gd-page-container">
    <div class="row">
    {% block tabs_or_splash%}{% endblock %}
    </div>
  </div><!--/#gd-page-container -->

  <!-- Footer (this is broken, so I'm commenting it out for now)
================================================== -->
<!--   <div id="gd-footer">
    <div class="container">
      <p>Designed and built by <a href="http://www.dbgoodman.com/" target="_blank">Dan Goodman</a>, <a href="http://www.glebkuznetsov.com/" target="_blank">Gleb Kuznetsov</a>, and <a href="http://www.linkedin.com/in/marclajoie" target="_blank">Marc Lajoie</a>.</p>
      <p>
        <a href="http://arep.med.harvard.edu/" target="_blank">Church Lab</a>,
        <a href="http://genetics.med.harvard.edu/" target="_blank">Harvard Medical School Department of Genetics</a>
      </p>
      <p>Copyright 2014</p>
    </div>
  </div> -->
</body>
</html>
