<div class="container">
  <div class="page-header gd-header">
    <h1>Welcome to Millstone.</h1>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="lead" style="color:#43a110">This is an interactive demo of Millstone.</p>

          <p><strong>Millstone is a distributed bioinformatics software platform designed to facilitate genome engineering for synthetic biology.</strong> Millstone automates iterative design, analysis, and debugging for projects involving hundreds of bacterial genomes.</p>

          <p>This demo server is contains 76 genomes from the GRO project described in our manuscript:

          <blockquote>
            <i>Millstone: software for multiplex microbial genome analysis and engineering.</i> Daniel B. Goodman*, Gleb Kuznetsov*, Marc J. Lajoie, Brian W. Ahern, Michael G. Napolitano, Kevin Y. Chen, Changping Chen and George M. Church.
            <i>Genome Biology</i> 2017 18:101. DOI: <a href='https://www.doi.org/10.1186/s13059-017-1223-1'>10.1186/s13059-017-1223-1</a>.
          </blockquote>

          The genomes have already been aligned, and variants have been called and annotated. You can compare, visualize, and explore the effects of both the designed and unintended variants within them. You can also find a list of example
          views and queries on the data <a href='http://churchlab.github.io/millstone/reviewer/index.html'>here</a>.</p>

          <p>Uploading samples, performing new alignments, and creating and manipulating variant sets are all disabled for this demo.</p>

          <p class='text-center gd-demo-splash-ok-button'>
            <a class="btn btn-lg btn-success" href="/accounts/login/" role="button">
              OK, let's go!
            </a>
          </p>


        </div>
        <div class="modal-footer gd-demo-splash-modal-footer">
            <p>Use Millstone for your genome engineering or analysis project:</p>
          <p class='h3'><a href='https://github.com/churchlab/millstone'>github.com/churchlab/millstone</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
