<div id="gd-filter-key-modal" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Change displayed fields</h3>
  </div>
  <div class="modal-body">
    <table class="table">
      <tbody id="gd-filter-key-modal-tbody">
      </tbody>
    </table>
  <div class="modal-footer">
    <button id="gd-filter-key-modal-apply-btn" class="btn">Apply changes</button>
    <button id="gd-filter-key-modal-dismiss-btn" class="btn" data-dismiss="modal">Cancel</button>
  </div>
</div>

