{% extends "base.html" %}

{% block tabs_or_splash %}
<div class="page-header">
  <h1>Create new project.</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">  
          <p class="lead">Create a new project and proceed to first alignment.</p>

          {% if error_string %}
          <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          <strong>Error: </strong>{{ error_string }}
          </div>
          {% endif %}

          <form method="post">{% csrf_token %}
            <div class="input-group">
              <input id="gd-project-create-name-input" type="text" class="form-control" name='title' placeholder="Name...">
              <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Create</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
