{% extends "tab_base.html" %}

{% block content%}
<div class="gd-header h1">
  Reference Genomes
</div>

{% if error_string %}
<div class="alert alert-error alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Error</h4>
  {{ error_string }}
</div>
{% endif %}

<div id="gd-ref-genome-list-view-datatable-hook">
</div>

<script type="text/javascript">

  VIEW_TAG = 'REF_GENOME_LIST';

  {% autoescape off %}
  IS_S3_BACKEND = '{{project.is_s3_backend}}';
  INIT_JS_DATA = {{init_js_data}};    
  {% endautoescape %}

</script>

{% endblock %}
