{% extends "tab_base.html" %}

{% block content%}
<div class="page-header">
  <h1>Reference Genomes</h1>
</div>

<p>
  {% if error_string %}
    <div class="alert alert-error alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Error</h4>
      {{ error_string }}
    </div>
  {% endif %}

  <div class="btn-group">
    <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
      Create New
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">From Variant Set...</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#modalFromFile" data-toggle="modal">From Server Location...</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#modalFromNCBI" data-toggle="modal">From NCBI Accession...</a></li>
    </ul>
  </div>
</p>

<div id="gd-ref-genome-list-view-datatable-hook" class="container-fluid">
</div>

<!-- ModalFromFile -->
<div id="modalFromFile" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="modalFromFile">Load File from Server Location</h3>
  </div>
  <div class="modal-body">
    <form id="formFromFile" method="POST">
      {% csrf_token %}
      <input type="text" name="refGenomeLabel" placeholder="Reference Genome Name">
      <input type="text" name="refGenomeFileLocation" placeholder="File Location on Server">
      <label class="radio">
        <input type="radio" name="importFileFormat" id="optionsRadios1" value="genbank" checked>
        Genbank File
      </label>
      <label class="radio">
        <input type="radio" name="importFileFormat" id="optionsRadios2" value="fasta">
        FASTA File <i>(No Gene/Effect Annotations)</i>
      </label>2
      <input type="hidden" name="postType" value="modalFromFile">
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Cancel</button>
      <button class="btn btn-primary" id="formFromFile">Submit</button>
    </form>
  </div>
</div>

<!-- ModalFromNCBI -->
<div id="modalFromNCBI" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="modalFromNCBI">Load File from NCBI</h3>
  </div>
  <div class="modal-body">
    <form id="formFromFile" method="POST">
      {% csrf_token %}
      <input type="text" name="refGenomeLabel" placeholder="Reference Genome Name">
      <input type="text" name="refGenomeAccession" placeholder="NCBI Nucleotide Accession">
      <label class="radio">
        <input type="radio" name="importFileFormat" id="optionsRadios3" value="genbank" checked>
        Genbank File
      </label>
      <label class="radio">
        <input type="radio" name="importFileFormat" id="optionsRadios4" value="fasta">
        FASTA File <i>(No Gene/Effect Annotations)</i>
      </label>
      <input type="hidden" name="postType" value="modalFromNCBI">
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Cancel</button>
      <button class="btn btn-primary" id="formFromFile">Submit</button>
    </form>
  </div>
</div>

<script type="text/javascript">
  VIEW_TAG = 'REF_GENOME_LIST';

  {% autoescape off %}
    REF_GENOME_LIST_DATA = {{ref_genome_list_json}};
  {% endautoescape %}

</script>
{% endblock %}
