{% extends "tab_base.html" %}

{% block content%}
<div class="gd-header h1">
  Samples
</div>

{% if error_string %}
  <div class="alert alert-error alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error</h4>
    {{ error_string }}
  </div>
{% endif %}

<div id="gd-sample-list-view-datatable-hook">
</div>

{% include "sample_controls.html" %}

<script type="text/javascript">
  VIEW_TAG = 'SAMPLE';
  IS_S3_BACKEND = '{{project.is_s3_backed}}';

  {% autoescape off %}
    SAMPLE_LIST_DATA = {{sample_list_json}};

  {% endautoescape %}
</script>
{% endblock %}
