{% extends "base.html" %}

{% block content%}
<div class="page-header">
  <h1>Samples</h1>
</div>

{% if error_string %}
  <div class="alert alert-error alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error</h4>
    {{ error_string }}
  </div>
{% endif %}

<form class="form-search">
  <div class="btn-group">
    <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
      Import
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">From URL...</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#modalFromFile" data-toggle="modal">From Server Location...</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">From Basespace/Amazon...</a></li>
    </ul>
  </div>
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">Filter</button> 
</form>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>uid</th>
      <th>Plate/Group</th>
      <th>Well</th>
      <th># Reads</th>
      <th>QC</th>
      <th>Metadata Field</th>
      <th>Aligned to</th>
      <th>
        <label class="checkbox">
          <input type="checkbox" value="">
          <div class="btn-group">
            <a class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown" href="#">
              Batch
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- dropdown menu links -->
            </ul>
          </div>
        </label>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for sample in sample_list %}
      <tr>
        <td><a href="{{sample.url}}">{{sample.label}}</a></td>
        <td>{{sample.uid}}</td>
        <td>{{sample.group}}</td>
        <td>{{sample.well}}</td>
        <td>{{sample.num_reads}}</td>
        <td><a class="label label-success" href="#">Good</a></td>
        <td>...</td>
        <td><a href="#">{{sample.aligned_to}}</a></td>
        <td>
          <label class="checkbox">
            <input type="checkbox" value="">
            <div class="btn-group">
              <a class="btn btn-small dropdown-toggle" data-toggle="dropdown"
                  href="#">
                Actions
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <!-- dropdown menu links -->
              </ul>
            </div>
          </label>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal -->
<div id="modalFromFile" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="modalFromFile">Load Sample Group from Server Location</h3>
  </div>
  <div class="modal-body">
    <ul id="modalFromFileTab" class="nav nav-tabs">
      <li class="active"><a href="#modalFromFile_upload" data-toggle="tab">Upload</a></li>
      <li><a href="#modalFromFile_help" data-toggle="tab">Help</a></li>
    </ul>
    <div id="modalFromFileTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="modalFromFile_upload">
        <p>To load samples from a location on the server, you need to make a <i>targets file</i> that has information about and points to the individual samples.<strong> First download <a href="/templates/sample_list_targets_template.tsv">this template</a></strong>, open it in Excel or a text editor, and fill it in.
        <form id="formFromFile" enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          <input type="file" name="targetsFile" title="Upload Sample Targets File">
        </form> 
      </div>
      <div class="tab-pane fade" id="modalFromFile_help">
        <p>To load samples from a location on the server, you need to make a targets file that has information about and points to the individual samples.<strong> First download <a href="/templates/sample_list_upload_template.tsv">this template</a></strong>, open it in Excel or a text editor, and fill it in.
        </p>
        <i>Required Fields: </i>
        <table class="table table-condensed">
          <tr>
            <td><small><strong>Sample_Name</strong></small></td>
            <td><small>Name for sample. Must be unique, word characters only.</small></td>
          </tr>
            <td><small><strong>Plate_or_Group</strong></small></td>
            <td><small>Name of group or plate from which sample comes. Must be unique. </small></td>
          </tr>
          <tr>
            <td><small><strong>Well</strong></small></td>
            <td><small>Well location on Plate, or short alphanumeric ID for the sample within a group/plate. </small></td>
          </tr>
          <tr>
            <td><small><strong>Read_1_Path</strong></small></td>
            <td><small>Path to FASTQ file for single end reads on the server, or first set of reads for paired end. </small></td>
          </tr>
        </table>
        <i>Optional Fields: </i>
        <table class="table table-condensed">
          <tr>
            <td><small><strong>Read_2_Path</strong></small></td>
            <td><small>Path to FASTQ file for second set of reads for paired end. Blank if single end reads.</small></td>
          </tr>
          <tr>
            <td><small><strong>Parent_Samples</strong></small></td>
            <td><small>Names of sample(s) that are the parents of this sample, comma separated.</small></td>
          </tr>
          <tr>
            <td><small><strong>Other_Fields</strong></small></td>
            <td><small>Add additional fields as needed as additional columns. These can be other string identifiers or numeric metadata like growth rate, escape phenotype (i.e. 0/1), colony color intensity (1-10), etc. Remove this column if not adding metadata.</small></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cancel</button>
    <button class="btn btn-primary" type="submit" id="submitFormFromFile">Submit</button>
  </div>
</div>

<script type="text/javascript">
  VIEW_TAG = 'SAMPLE';
</script>
{% endblock %}
