{% extends "base.html" %}

{% block content%}
<div class="page-header">
  <h1>Samples</h1>
</div>
<form class="form-search">
  <div class="btn-group">
    <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
      Import
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">From URL...</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">From Server Location...</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">From Basespace/Amazon...</a></li>
    </ul>
  </div>
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">Filter</button> 
</form>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Plate/Group</th>
      <th>Well</th>
      <th># Reads</th>
      <th>QC</th>
      <th>Metadata Field</th>
      <th>Aligned to</th>
      <th>
        <label class="checkbox">
          <input type="checkbox" value="">
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Batch
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- dropdown menu links -->
            </ul>
          </div>
        </label>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="#">C321D MiSeq</a></td>
      <td>Plate 1</td>
      <td>A01</td>
      <td>25,029,296</td>
      <td><a class="label label-success" href="#">Good</a></td>
      <td>...</td>
      <td><a href="#">MG1655</a></td>
      <td>
        <label class="checkbox">
          <input type="checkbox" value="">
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Actions
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- dropdown menu links -->
            </ul>
          </div>
        </label>
      </td>
    </tr>
    <tr>
      <td><a href="#">C321D Fixed 01</a></td>
      <td>Plate 2</td>
      <td>A01</td>
      <td>14,023,418</td>
      <td><a class="label label-success" href="#">Good</a></td>
      <td>...</td>
      <td><a href="#">C321D</a></td>
      <td>
        <label class="checkbox">
          <input type="checkbox" value="">
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Actions
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- dropdown menu links -->
            </ul>
          </div>
        </label>
      </td>
    </tr>
    <tr>
      <td><a href="#">C321D Fixed 02</a></td>
      <td>Plate 2</td>
      <td>A02</td>
      <td>19,352,241</td>
      <td><a class="label label-success" href="#">Good</a></td>
      <td>...</td>
      <td><a href="#">C321D</a></td>
      <td>
        <label class="checkbox">
          <input type="checkbox" value="">
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Actions
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <!-- dropdown menu links -->
            </ul>
          </div>
        </label>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
