<div class="list-group">
  <a href="{% url 'main.views.reference_genome_list_view' project.uid %}" class="list-group-item">
    <i class="caret pull-right gd-caret-align"></i> Reference Genome 
  </a>
  <a href="{% url 'main.views.sample_list_view' project.uid %}" class="list-group-item">
    <i class="caret pull-right gd-caret-align"></i> Alignment
  </a>
  <a href="{% url 'main.views.alignment_list_view' project.uid %}" class="list-group-item">
    <i class="caret pull-right gd-caret-align"></i> View
  </a>
</div>