<div class="list-group">
  <a id="gd-sidenav-link-refgenomes" href="{% url 'main.views.reference_genome_list_view' project.uid %}" class="list-group-item">
    Reference Genomes
  </a>
  <a id="gd-sidenav-link-samples" href="{% url 'main.views.sample_list_view' project.uid %}" class="list-group-item">
    Samples
  </a>
  <a id="gd-sidenav-link-alignments" href="{% url 'main.views.alignment_list_view' project.uid %}" class="list-group-item">
    Alignments
  </a>
  <a id="gd-sidenav-link-variant-sets" href="{% url 'main.views.variant_set_list_view' project.uid %}" class="list-group-item">
    Variant Sets
  </a>
</div>
