<div class="span3">
    <div class="well">
        <div>
            <ul class="nav nav-list">
                <li><label><a href="/">Home</a></label></li>
                <li><label class="tree-toggle nav-header">Projects <a href="/projects">(all)</a></label>
                    <ul class="nav nav-list tree">
                        <li><label class="tree-toggle nav-header">Project 1</label>
                            <ul class="nav nav-list tree">
                                <li><a href="/refgenomes">Ref Genomes</a></li>
                                <li><a href="/samples">Samples</a></li>
                                <li><a href="/alignments">Alignments</a></li>
                            </ul>
                        </li>
                        <li><label class="tree-toggle nav-header">Project 2</label></li>
                        <li><label class="tree-toggle nav-header">Project 3</label></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li><label class="tree-toggle nav-header">Help</label>
                    <ul class="nav nav-list tree">
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
