<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li><a href="/refgenomes"><i class="icon-book"></i>Reference Genomes</a></li>
        <li class="active"><a href="/samples"><i class="icon-tint icon-white"></i>Samples</a></li>
        <li><a href="/alignments"><i class="icon-align-center"></i>Alignments</a></li>
        <li><a href="/variants"><i class="icon-asterisk"></i>Variants</a></li>
        <li><a href="/sets"><i class="icon-tags"></i>Sets</a></li>
        <li><a href="/genes"><i class="icon-arrow-right"></i>Genes</a></li>
        <li><a href="/goterms"><i class=" icon-th-list"></i>GO Terms</a></li>
        <li class="divider"></li>
        <li><label class="tree-toggle nav-header">Help</label>
            <ul class="nav nav-list tree">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </li>
    </ul><!--/.nav -->
</div><!--/.well /.sidebar-nav -->
