<div id="gd-snp-filter-component">
  <div class="gd-manual-filter-input-container">
    <input id="gd-new-filter-input" name="variant_filter_string" type="text"
          class="input-large span6 gd-form-tall" placeholder="Enter new filter string"
          {% if manual_filter_string %}
            value="{{manual_filter_string}}"
          {% endif %}
          >

    <input type="radio" name="melt" value=0 checked>Cast
    <input type="radio" name="melt" value=1 {% if is_melted  %}checked{% endif %}>Melted

    <div id="gd-snp-filter-error" class="alert alert-error alert-block" style="display:none">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Error</h4>
      <span id="gd-snp-filter-error-msg"></span>
    </div>

    <div class="row gd-button-container">
      <button id="gd-filter-box-apply-btn" class="btn btn-success span2 offset5">
        Apply Filter
      </button>
    </div>

    <div>
      <button id="gd-filter-field-select-btn" class="btn gd-btn-with-margins">
        Change displayed fields
      </button>
    </div>

    <div style="margin-top: 10px;">
      <button id="gd-filter-refresh-materialized" class="btn gd-btn-with-margins">
        Refresh Materialized View
      </button>
    </div>
  </div>
</div>

{% include "filter_field_select_modal.html" %}
