{% load staticfiles %}

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="gd-splash-panel panel panel-default">
        <div class="panel-body text-center">
          <img src='{% static "img/logo_large.svg" %}' width='400px'>
        </div>
        <div class="panel-footer text-center gd-demo-splash-modal-footer">
          <a class="btn btn-lg btn-success" href="/accounts/login/" role="button">
          Login
          </a>
          <a class="btn btn-lg btn-info" href="/accounts/register/" role="button">
          Register
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gd-footer">
  <h6>Copyright 2015 <a href="http://arep.med.harvard.edu/" target="_blank">Church Lab</a> | <a href="http://genetics.med.harvard.edu/" target="_blank">Harvard Medical School Department of Genetics</a></h6>
  <h6><a href="http://churchlab.github.io/millstone" target="_blank">Help</a></h6>
</div>
