{% load staticfiles %}

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="gd-splash-panel panel panel-default">
        <div class="panel-body text-center">
          <img src='{% static "img/logo_large.svg" %}' width='400px'>
        </div>
        <div class="panel-footer text-center gd-demo-splash-modal-footer">
          <a class="btn btn-lg btn-success" href="/accounts/login/" role="button">
          Login
          </a>
          <a class="btn btn-lg btn-info" href="/accounts/register/" role="button">
          Register
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gd-footer">
  <h6>Designed and built by <a href="http://www.dbgoodman.com/" target="_blank">Daniel Goodman</a>, <a href="http://www.glebkuznetsov.com/" target="_blank">Gleb Kuznetsov</a>, <a href="https://github.com/kevinychen" target="_blank">Kevin Chen</a>, <a href="https://github.com/ccp0101" target="_blank">Changping Chen</a>, and <a href="http://www.linkedin.com/in/marclajoie" target="_blank">Marc Lajoie</a>.</h6>
  <h6><a href="http://arep.med.harvard.edu/" target="_blank">Church Lab</a></h6>
  <h6><a href="http://genetics.med.harvard.edu/" target="_blank">Harvard Medical School Department of Genetics</a></h6>
  <h6>Copyright 2014</h6>
</div>