{% extends "base.html" %}

{% block tabs_or_splash %}
  <ul class="nav nav-tabs">
    <li class="{% if tab_root == 'DATA' %}active{% endif %}">
      <a href="/projects/{{project.uid}}/data">Data</a>
    </li>
    <li class="{% if tab_root == 'ANALYZE' %}active{% endif %}">
      <a href="/projects/{{project.uid}}/analyze">Analyze</a>
    </li>
  </ul>
  {% if not tab_root %}
    <script>alert("Missing tab root");</script>
  {% endif %}

  <div class="tab-content gd-tab-content">
    <div class="tab-pane fade in active">

      <!-- Currently actively working on the analyze tab.
          All others should be the same. -->
      {% if tab_root == 'DATA' %}
        <div class="span3">
          {% if project %}
            {% include "side_nav_bar.html" %}
          {% endif %}
        </div><!--/.span3 -->
        <div class="span9">
          {% block content%}{% endblock %}
        </div> <!--/.span9 -->
      {% else %}
        {% block tab_content%}{% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}
