{% extends "tab_base.html" %}

{% block content %}

  <div class="gd-header h3">
    Choose a reference genome, an alignment, and an entity to analyze.
  </div>

  <div id="gd-datatable-hook">
  </div>

  <!-- HACK: Right now, if the user navigates to contigs analyze view
       and then navigates away to, say, variants analyze view, before
       contigs data is returned, the contigs data will get rendered.
       Temporarily deal with this by forcing contigs to get rendered
       to their own hook so that they don't overwrite the displayed
       variants.
  -->
  <div id="gd-datatable-hook-contigs">
  </div>

  <script type="text/javascript">
    VIEW_TAG = 'ANALYZE';

    {% autoescape off %}
      INIT_JS_DATA = {{init_js_data}};
    {% endautoescape %}
  </script>
{% endblock %}
