{% extends "base.html" %}

{% block tabs_or_splash %}

{% if not tab_root %}
<script>alert("Missing tab root");</script>
{% endif %}

<div class="row">
  <!-- Side Nav
================================================== -->  
  <div class="col-md-3">
    <div class="btn-group btn-group-justified gd-data-analyze-group">
      <a href="/projects/{{project.uid}}/data" type="button" class="btn btn-default {% if tab_root == 'DATA' %}active{% endif %}">Data</a>
      <a href="/projects/{{project.uid}}/analyze" type="button" class="btn btn-default {% if tab_root == 'ANALYZE' %}active{% endif %}">Analyze</a>
    </div>

{% if tab_root == 'DATA' %}
    {% if project %}
      {% include "side_nav_bar_data.html" %}
    {% endif %}
{% elif tab_root == 'ANALYZE' %}
    {% if project %}
      {% include "side_nav_bar_analyze.html" %}
    {% endif %}
  </div><!--/.col3 -->

  <!-- Content Area
================================================== -->  

  <div class="col-md-9">
    {% block content%}
    {% endblock %}
    {% block tab_content%}
    {% endblock %}
  </div> <!--/.col9 -->
{% endif %}
</div>
{% endblock %}
