{% extends "base.html" %}

{% block tabs_or_splash %}

{% if not tab_root %}
<script>alert("Missing tab root");</script>
{% endif %}

    <div class="gd-sidebar">
    <!-- Side Nav
================================================== -->  
      <div class="btn-group btn-group-justified gd-data-analyze-group">
        <a href="/projects/{{project.uid}}/data" type="button" class="btn btn-default {% if tab_root == 'DATA' %}active{% endif %}">Data</a>
        <a href="/projects/{{project.uid}}/analyze" type="button" class="btn btn-default {% if tab_root == 'ANALYZE' %}active{% endif %}">Analyze</a>
      </div>
    {% if tab_root == 'DATA' %}
        {% if project %}
          {% include "side_nav_bar_data.html" %}
        {% endif %}
    {% elif tab_root == 'ANALYZE' %}
        {% if project %}
          {% include "side_nav_bar_analyze.html" %}
        {% endif %}
    {% endif %}    
    </div><!--/side nav -->

  <!-- Content Area
================================================== -->  
  
  <div class="gd-main-content">
    <div class="container-fluid">
    {% block content %}
    No content.
    {% endblock %}
    </div>
  </div><!-- /main content -->
{% endblock %}
