{% extends "tab_base.html" %}

{% block content%}
<div class="gd-header h1">
  Variant Sets
</div>

{% if error_string %}
<div class="alert alert-error alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Error</h4>
  {{ error_string }}
</div>
{% endif %}

<div id="gd-variant_set_list_view-datatable-hook">
</div>

<script type="text/javascript">
  VIEW_TAG = 'VARIANT_SET_LIST';

  {% autoescape off %}
    INIT_JS_DATA = {{init_js_data}};
  {% endautoescape %}

</script>
{% endblock %}
