{% extends "base.html" %}

{% block content%}
<div class="page-header">
  <h1>Variants</h1>
</div>
<div id="gd-variant-set-action-submit-alert" class="alert" style="display:none">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <span id="gd-variant-set-action-submit-alert-msg"></span>
</div>

<div id="gd-datatable-hook" class="container-fluid">
</div>

<script type="text/javascript">
  VIEW_TAG = 'VARIANT_LIST';

  {% autoescape off %}
    // variant list data for datatable-hook
    VARIANT_LIST_DATA = {{variant_list_json}};
    // variant set list data for adding variants to sets with dropdown menu
    VARIANT_SET_LIST_DATA = {{variant_set_list_json}};
  {% endautoescape %}
</script>
{% endblock %}
