{% extends "tab_base.html" %}

{% block content%}
<div class="page-header gd-data-header">
  <h1 class="gd-data-header">Variant Sets</h1>
</div>


<p>
  {% if error_string %}
  <div class="alert alert-error alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error</h4>
    {{ error_string }}
  </div>
  {% endif %}

  {% include "variant_set_controls.html" %}
</p>

<div id="gd-variant_set_list_view-datatable-hook" class="container-fluid">
</div>


<script type="text/javascript">
  VIEW_TAG = 'VARIANT_SET_LIST';

  {% autoescape off %}
    VARIANT_SET_LIST_DATA = {{variant_set_list_json}};
  {% endautoescape %}
</script>
{% endblock %}
