{% extends "tab_base.html" %}

{% block content%}
<div class="gd-header h1">
  Variant Set {{variant_set.label}}
</div>

<div class="dropdown gd-variant-set-view-dropdown">
  <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
     Select action with set
    <span class="caret"></span>
  </button>
  <button id="gd-variant-set-view-delete" class = "btn btn-danger">
    Delete Set
  </button>
  <ul class="dropdown-menu">
    <li>
      <a id="gd-variant-set-view-export-as-csv" href="#">
        Export to csv
      </a>
    </li>
    {% if is_print_mage_oligos_enabled %}
      <li>
        <a href="#gd-variant-set-print-mage-oligos-modal"
            data-toggle="modal">
          Print MAGE Oligos
        </a>
      </li>
    {% endif %}

    {% if is_generate_new_reference_genome_enabled %}
      <li>
        <a href="#gd-variant-set-ref-genome-maker-modal"
            data-toggle="modal">
          Generate New Reference Genome
        </a>
      </li>
    {% endif %}
  </ul>
</div>

<div id="gd-datatable-hook">
</div>

<form id="gd-variant-sets-export-csv-form" action="/_/variants/export_as_csv"
    method="GET">
  <!-- NOTE: Populated dynamically in js. -->
</form>

<script type="text/javascript">
  VIEW_TAG = 'VARIANT_SET';

  {% autoescape off %}
    INIT_JS_DATA = {{init_js_data}};
  {% endautoescape %}
</script>

{% include "controls/print_mage_oligos_modal.html" %}

{% include "controls/ref_genome_maker_modal.html" %}

{% endblock %}
