{% extends "tab_base.html" %}

{% block content%}
<div class="gd-header h1">
  Variant Set {{variant_set.label}}
</div>

<div class="gd-variant-set-view-dropdown dropdown btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Select action with set
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a id="gd-variant-set-view-export-as-csv" href="#">Export to csv</a></li>
  </ul>
</div>

<div id="gd-datatable-hook">
</div>

<form id="gd-variant-sets-export-csv-form" action="/_/sets/exportcsv"
    method="POST">
  {% csrf_token %}
  <input type="hidden" name="variant_set_uid" value={{variant_set.uid}}>
</form>

<script type="text/javascript">
  VIEW_TAG = 'VARIANT_SET';

  {% autoescape off %}
    INIT_JS_DATA = {{init_js_data}};
  {% endautoescape %}
</script>
{% endblock %}
