{% extends "base.html" %}

{% block tabs_or_splash %}
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <form action="/accounts/login/" method="post">
          {% csrf_token %}
          <div class="panel-body text-center">
              {% for error in form.non_field_errors %}
                <p class="gd-error-text">
                  {{error}}
                </p>
              {% endfor %}
              <p>
                <input id="id_username" maxlength="254" name="username" type="text" class="form-control" placeholder="Username"/>
              </p>
              <p>
                <input id="id_password" name="password" type="password" class="form-control" placeholder="Password"/></p>
        </div>
        <div class="panel-footer text-center gd-demo-splash-modal-footer">
          <button class="btn btn-lg btn-success">Login</button>
          <input type="hidden" name="next" value="{{next}}" />
        </div>
      </form>
    </div>
    <center>Or <a href="/accounts/register/">Register</a>.</center>
    </div>
  </div>
</div>
{% endblock %}
