<div id="gd-variant-set-print-mage-oligos-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Print MAGE Oligos</h3>
      </div>

      <div class="modal-body">
        <form id="gd-variant-set-print-mage-oligos-form" method="GET"
            action="/_/sets/print_mage_oligos">
          <input type="hidden" name="variantSetUid" value="{{variant_set.uid}}">

          <h4>Experiment Direction</h4>

          <div class="form-group">
            <label class="radio">
              <input type="radio" name="experimentDir" value="F" checked>
              Forward (oligos that would introduce these changes)
            </label>
            <label class="radio">
              <input type="radio" name="experimentDir" value="R">
              Reverse (oligos that would revert these changes)
            </label>
          </div>
        </form>
      </div><!-- modal-body -->

      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button id="gd-variant-sets-print-mage-oligos-submit"
            class="btn btn-primary">
          Submit
        </button>
      </div><!-- modal-footer -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div>
