<!-- Control Box -->
<div id='{{table_id}}-control' class="gd-datatable-control btn-group">
  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
    New
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#gd-ref-genome-upload-through-browser-modal" data-toggle="modal">Upload through browser...</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#gd-ref-genome-upload-from-server-location-modal" data-toggle="modal">From Server Location...</a></li>
    {% if project.is_s3_backed %}
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#modalUpload" data-toggle="modal">
        From S3 Bucket...</a></li>
    {% endif %}
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#modalFromNCBI" data-toggle="modal">
        From NCBI Accession...</a></li>
  </ul>
  {% if project_has_de_novo_assemblies %}
    {% if show_de_novo %}
      <button class="btn gd-controls-auxiliary-button" id="gd-ref-genome-toggle-display-de-novo">Hide De Novo Assemblies</button>
    {% else %}
      <button class="btn gd-controls-auxiliary-button" id="gd-ref-genome-toggle-display-de-novo">Show De Novo Assemblies</button>
    {% endif %}
  {% endif %}
</div>


{% include "controls/create_reference_genome_from_browser_upload_modal.html" %}

{% include "controls/create_reference_genome_from_server_location_modal.html" %}

{% include "controls/create_reference_genome_from_ncbi_modal.html" %}

{% if project.is_s3_backed %}
  {% include "controls/create_reference_genome_filepicker.html" %}
{% endif %}
