<div id='{{table_id}}-control' class="gd-datatable-control btn-group">
  <form class="form-search">
    <div class="btn-group">
      <a class="btn dropdown-toggle btn-primary" 
      data-toggle="dropdown" href="#">
        New
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <!--
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">From URL...</a>
        </li>
        -->
        <li role="presentation">
          <a role="menuitem" tabindex="-1" 
          href="#modalFromFile" data-toggle="modal">
            From Server Location...
          </a>
        </li>
        {% if project.is_s3_backed %}
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#modalUpload" 
          data-toggle="modal">
            Upload To S3...
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </form>
</div>

{% include "controls/create_samples_from_server_location_modal.html" %}

{% if project.is_s3_backed %}
  {% include "controls/create_samples_from_filepicker_modal.html" %}
{% endif %}
