<!-- Controls -->
<div id='{{table_id}}-control' class="gd-datatable-control btn-group">
  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
    New
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#modalFromFile" data-toggle="modal">
        From File...
      </a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#gd-create-empty-variant-set-form" data-toggle="modal">
        Empty Set...
      </a>
    </li>
  </ul>
</div>

{% include "controls/create_variant_set_from_file_modal.html" %}

{% include "controls/create_empty_variant_set_modal.html" %}
