<div id="{{table_id}}-control" class="gd-datatable-control btn-group">
  <div class="gd-manual-filter-input-container">
    <div class="form-inline" role="form">
      <div class="form-group">
        <input id="gd-new-filter-input" name="variant_filter_string" type="text"
        class="form-control" placeholder="Filter string"
        {% if manual_filter_string %}
          value="{{manual_filter_string}}"
        {% endif %}
        >
        <button class="btn btn-success" id="gd-filter-box-apply-btn" type="button">Apply</button>
      </div><!-- dialog /input-group -->
      <div class="form-group">
        <div class="btn-toolbar">
          <div class="btn-group" data-toggle="buttons">
            <label id="gd-snp-filter-melt-toggle-cast"
                class="gd-snp-filter-melt-toggle btn btn-default"
                data-melted=0>
              <input type="radio">Cast
            </label>
            <label id="gd-snp-filter-melt-toggle-melt"
                class="gd-snp-filter-melt-toggle btn btn-default"
                data-melted=1>
              <input type="radio">Melted
            </label>
          </div><!-- radio /button-group -->
          <div class="btn-group">
            <button id="gd-filter-field-select-btn" class="btn btn-default gd-btn-with-margins">
              Fields...
            </button>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <div id="gd-snp-filter-error" class="alert alert-warn" style="display:none">
    <button type="button" id="gd-snp-filter-error-close-btn" class="close">&times;</button>
    <h4>Error</h4>
    <span id="gd-snp-filter-error-msg"></span>
  </div>

  <div class="alert alert-info gd-id-master-cb-select-more-than-one
      gd-master-cb-select-more-than-one">
  </div>

  <form id="gd-filter-export-csv-form" action="/_/variants/export_as_csv"
      method="GET">
    <!-- NOTE: Populated dynamically in js. -->
  </form>
</div>

{% include "controls/filter_key_modal.html" %}
